.conferencistas {
    min-height: 100vh;
    padding: 3rem 0;
    color: $blanco;

    &-list {
        margin-top: 3rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem 3rem;
        justify-content: center;
    }

    &-title {
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
}