.cronograma {
    padding: 1rem 0;

    color: white;

    &-list {
        // background-color: white;
        display: flex;
        justify-content: center;
        gap: 7rem;
        // padding: 1rem 0;
    }

    &-title {
        padding: 1rem 0;
        font-size: 3rem;
        text-align: center;
        // color: #170f34;
        text-transform: uppercase;
        border-bottom: 1px solid #170f3486;
    }

    &-img {
        max-width: 300px;
    }
}