.contacto {
    text-align: center;
    color: $azul_oscuro;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 2rem 0 3rem;
    background: linear-gradient(0deg, $azul_oscuro 0%, #0a08109a 50%, $azul_oscuro 100%);
    color: #fff;

    &-title {
        font-size: 2rem;
        text-transform: uppercase;
    }

    &-media {
        display: flex;
        gap: 1rem;
        justify-content: center;

        &>a {
            text-decoration: none;
            color: $blanco;
        }

        & svg {
            font-size: 2rem;
            cursor: pointer;

            &:hover {
                scale: 1.1;
                // transform: scale(1.1);
            }
        }
    }
}