.contacto {
    text-align: center;
    color: #170f34;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 2rem 0 3rem;
    background: linear-gradient(0deg, rgba(23, 15, 52, 1) 0%, rgba(10, 8, 16, 0.605) 50%, rgba(23, 15, 52, 1) 100%);
    color: #fff;

    &-title {
        font-size: 2rem;
    }

    &-media {
        display: flex;
        gap: 1rem;
        justify-content: center;

        &>a {
            text-decoration: none;
            color: #fff;
        }

        & svg {
            font-size: 2rem;
            cursor: pointer;

            &:hover {
                scale: 1.1;
                // transform: scale(1.1);
            }
        }
    }
}