@import '_variables.scss';

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;

    &-background {
        position: relative;
        top: 0;
        left: 0;
        min-width: 100vw;
        height: auto;
        // overflow: hidden;

        &-img {
            position: relative;
            top: -6rem;
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    &-buttons {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        z-index: 50;
        margin: 0 auto;
        top: 70%;
        left: 50%;
        translate: -50% -50%;
    }

    &-button {
        text-decoration: none;
        padding: .5rem 2rem;
        background: $blanco;
        border: 2px solid $blanco;
        text-transform: uppercase;
        color: #241b52;
        font-size: 1.2rem;
        font-weight: bold;
        transition: .3s ease all;

        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background: $azul_oscuro;
            box-shadow: 0 0 1rem #ffffff55;
            color: #fff;
        }

    }
}