@import '_variables.scss';

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;

    &-background {
        position: relative;
        top: 0;
        left: 0;
        min-width: 100vw;
        height: auto;
        pointer-events: none;
        // overflow: hidden;

        &-img {
            position: relative;
            top: -6rem;
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    &-buttons {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        z-index: 50;
        margin: 0 auto;
        top: 70%;
        left: 50%;
        translate: -50% -50%;
    }

    &-location {
        position: absolute;
        font-size: 1.5rem;
        bottom: 3rem;
        left: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: $blanco;
        gap: 2px;
        text-transform: uppercase;
        inline-size: 300px;
        overflow-wrap: break-word;
        text-align: center;
        font-family: 'Quicksand', sans-serif;
        font-weight: 800;
        transition: .3 ease all;

        & svg {
            font-size: 2rem;
        }

        & path {
            stroke: $blanco;
        }

        &:hover {
            color: $amarillo;

            & path {
                stroke: $amarillo;
            }
        }
    }

    &-button {
        text-decoration: none;
        padding: .5rem 2rem;
        background: $blanco;
        border: 2px solid $blanco;
        text-transform: uppercase;
        color: #241b52;
        font-size: 1.2rem;
        font-weight: bold;
        transition: .3s ease all;

        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background: $azul_oscuro;
            box-shadow: 0 0 1rem #ffffff55;
            color: #fff;
        }

        &-pay {
            position: absolute;
            top: 10%;
            right: 5%;
            font-size: 1rem;
            padding: .2rem 1rem;
        }

    }
}