.hotel {

    display: flex;
    justify-content: center;

    &-title {
        font-size: 3rem;
        font-weight: bold;
        color: $blanco;
        text-align: center;
        padding: 2rem 0;
        text-transform: uppercase;
    }
}

#hoteles {
    padding: 1rem 0;
    min-height: 100vh;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}