@import 'variables.scss';

.hotel-table {
    display: flex;
    // gap: rem;
    font-family: 'arial';

    &-column {
        // padding: 0 1rem;
        // border-radius: 5px;
        overflow: hidden;
        outline: 2px solid $azul_oscuro;

        &-header {
            background: $azul_cielo;
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: bold;
            padding: .75rem 1rem;
            text-align: center;
            outline: 2px solid $negro;

        }

        &-main {
            background: $blanco;

            // padding: .5rem 1rem;
            &-item {
                padding: .35rem .75rem;
                outline: 1px solid $negro;
                display: block;
                color: $negro;
                text-decoration: none;
                height: 32px;
                text-align: center;

                svg {
                    color: $azul_oscuro;
                }
            }
        }
    }
}