.navbar {
    background: transparent;
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    color: #fff;

    &-list {
        padding: 1rem 0;
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 2rem;

    }

    &-item {
        &-link {
            padding: .5rem 1rem;
            background: transparent;
            border: none;
            text-decoration: none;
            color: #9d9d9d;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: bold;

            &:hover {
                color: #E3B332;
            }
        }
    }
}