@import 'variables.scss';

.navbar {
    background: #1460927e;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;


    &-list {
        padding: .5rem 0;
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 2rem;

    }

    &-item {
        position: relative;

        &-link {
            padding: .5rem 1rem;
            background: transparent;
            border: none;
            text-decoration: none;
            color: $blanco;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: bold;

            &:hover {
                color: $amarillo;
            }
        }
    }

    &-dropdown {
        position: absolute;
        background: rgba(20, 96, 146, 0.494);
        list-style: none;
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        font-weight: bold;
        font-size: .9rem;
        margin-top: 10px;
        min-width: 15rem;
        padding: .75rem 1rem;
        gap: .5rem;
        box-shadow: 0 0 5px 2px #170F347e;
        // border: 2px solid #170F347e;
        // border-top: transparent;

        &-item {
            padding: 0;

            &-link {
                text-decoration: none;
                color: white;
                padding: 0;

                &:hover {
                    color: $amarillo;
                }

            }
        }
    }
}

a.navbar-item-link {
    font-size: .8rem;
    position: relative;
    top: 5px;
}