.patrocinadores {
    
    min-height: 50vh;
    padding: 1rem 0;

    &-title {
        text-align: center;
        color: $blanco;
        font-size: 3rem;
        font-size: 700;
        text-transform: uppercase;
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
        max-width: 70%;
        margin: 0 auto;
    }

    &-image {
        height: 4rem;
        width: auto;

        &-title {
            color: $blanco;
            text-transform: uppercase;
            font-size: 1.5rem;
            text-align: center;
        }
    }


}