@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700; 1900&family=Quicksand:wght@500');
@import 'hero.scss';
@import 'general.scss';
@import 'navbar.scss';
@import 'conferencistas.scss';
@import 'conferencista.scss';
@import 'footer.scss';
@import 'cronograma.scss';
@import 'patrocinadores.scss';
@import 'patrocinador.scss';
@import 'hoteles.scss';
@import 'hotelestable.scss';
@import 'pagos.scss';
@import 'onconstruction.scss';
::-webkit-scrollbar{
    background-color: transparent;
    width: 8px;
    &-thumb{
        background-color: $amarillo;
        border-radius: 4px;
    }
    
}
